.board-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.board-create {
    align-self: baseline;
    margin-left: auto;
}

.board {
    display: flex;
    flex-direction: row;
}

.board-column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.board-table-title {
    flex-grow: 1;
    font-size: 12px !important;
    color: #738694;
}

.board-table-entries {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board-table-entry {
    flex-grow: 1;
}

.board-table-entry:hover {
    font-weight: 600;
    cursor: pointer;
}

.board-icon {
    color: #738694;
    padding-right: 15px;
    cursor: pointer;
}

.board-icon:hover {
    color: #394B59
}