* {
    font-family: 'Open Sans', sans-serif !important;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #F5F8FA;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    margin: 10px auto auto;
    max-width: 900px;
}

.card-title {
    flex-grow: 1;
    font-size: 14px !important;
    color: #738694;
    text-transform: uppercase;
}

.container-fixed {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px 60px 40px;
    margin: auto;
    text-align: center;
}


/*OVVERIDE BLUEPRINT*/

.bp3-button {
    box-shadow: none !important;
}

.bp3-navbar {
    background-color: #106BA3 !important;
    box-shadow: none !important;
    color: white !important;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bp3-navbar-heading {
    font-size: 24px !important;
    font-weight: 500;
}

.bp3-dark .bp3-button:not([class*="bp3-intent-"]) .bp3-icon {
    color: white !important;
}