
.roadmap-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}


.roadmap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.roadmap-header {
    display: flex;
    align-items: center;
}

.roadmap-element {
    width: 32%;
}

.roadmap-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #48AFF0;
    margin: -7px 10px 2px 0;
}


/* OVVERIDE   */

.bp3-button {
    box-shadow: none !important;
}