.board-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.board-create {
    align-self: baseline;
    margin-left: auto;
}

.board-table-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
}

.board-table-title {
    font-size: 12px !important;
    color: #738694;
}

